// Fonts


// Univers
@import url("//hello.myfonts.net/count/34aa01");
@font-face {
	font-family: 'UniversNextPro-Regular';
	src: url('fonts/34AA01_0_0.eot');
	src: url('fonts/34AA01_0_0.eot?#iefix') format('embedded-opentype'),
		 url('fonts/34AA01_0_0.woff2') format('woff2'),
		 url('fonts/34AA01_0_0.woff') format('woff'),
		 url('fonts/34AA01_0_0.ttf') format('truetype');
}
 