/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/**
 *
 * Mixin list
 * @mixin clearfix
 * @mixin visuallyhidden
 *
 */


@mixin center-v($position){
  position: $position;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Clearfix */ 
@mixin clearfix {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}

/* Visually Hidden */
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// No selection
@mixin noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Fonts
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// Transitions CSS
@mixin transitionEase($temps) {
  -webkit-transition: all $temps ease;
  transition: all $temps ease;
}
@mixin transitionNone {
  -webkit-transition: none;
  transition: none;
}
@mixin transitionBezier($standardDuration) {
      -webkit-transition: all $standardDuration cubic-bezier(0.915, 0.010, 0.075, 0.995);
         -moz-transition: all $standardDuration cubic-bezier(0.915, 0.010, 0.075, 0.995);
           -o-transition: all $standardDuration cubic-bezier(0.915, 0.010, 0.075, 0.995);
              transition: all $standardDuration cubic-bezier(0.915, 0.010, 0.075, 0.995);
}