/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Author:      Gabriel Paquin
  Email:       <Gabriel Paquin> gpaquin@maisonsagan.com
  Last Edit:   Mars 2018
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Importations
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@import "snippets";
@import "normalize";
@import "mixins";
@import "animations";
@import "fonts";

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Variables
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
$font-family: "UniversNextPro-Regular", Helvetica, Arial, sans-serif;
$tablette: 1200px;
$phone: 768px;


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Général
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
html {
	overflow-x: hidden;

	@media screen and (max-width: $tablette) {
		font-size: 15px;
	}

	@media screen and (max-width: $phone) {
		font-size: 14px;
	}
}
body {
	font-family: $font-family;
}

ul,li,h1,h2,h3,p {
	font-weight: normal;
	padding: 0;
	margin: 0;
}
h2 {
	line-height: calculateRem(80px);
}
.come-in {
  transform: translateY(150px);
  animation: come-in 0.75s ease forwards;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Overlay elements
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.overlay_elements {
	z-index: 30;
	position: fixed;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease;

	@media screen and (max-width: $phone) {
		opacity: 1;
		transform: translateX(100%);
		transition: transform 0.3s ease;
	}

	&.trigger {
		opacity: 1;
		pointer-events: auto;

		@media screen and (max-width: $phone) {
			transform: translateX(0);
		}
	}

	.overlay_element {
		z-index: 32;
		position: relative;
		@include wrapper(720px);
		@include font-size(40px);


		p {
			margin-top: calculateRem(100px);

			@media screen and (max-width: $phone) {
				margin-top: 40%;
				width: 50%;
				margin-left: auto;
				margin-right: auto;
				@include font-size(30px);
			}

			&:last-child {
				@include font-size(60px);
				margin-top: calculateRem(50px);

				@media screen and (max-width: $phone) {
					@include font-size(40px);
				}
			}
		}
	}

	.overlay_bg {
		background: rgba(255,255,255,0.9);
		width: 100vw;
		height: 100vh;
		cursor: pointer;
		z-index: 31;
		position: fixed;
		top: 0;
		left: 0;
	}
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Header
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
header {

	nav {
		@include wrapper(1200px);
	    display: flex;
	    justify-content: space-between;
	    padding: 0 20px 0 20px;
		box-sizing: border-box;

		&.nav-meta {

			.nav-wrapper {
				padding-top: calculateRem(40px);
				width: 255px;
				margin: 0 0 0 auto;
				display: flex;
				justify-content: space-between;

				p {

					a {
						color: black;
						text-decoration: none;
					}
				}

				ul {
					width: auto;
					display: inline-block;

					li {
						display: inline-block;

						a {
							color: #6F6F6E;
							text-decoration: none;
							text-transform: uppercase;
							@include font-size(12px);

							&.active {
								text-decoration: underline;
							}
						}
					}
				}
			}

			@media screen and (max-width: $phone) {
				display: none;
			}
		}

		&.nav-main {
			padding-top: calculateRem(50px)
		}

		@media screen and (max-width: $phone) {
			padding: 20px;
			width: 100%;
			box-sizing: border-box;
		}

		.logo {
			width: 240px;

			a {
				display: block;
			}
		}

		#btn_hamburger {
			display: none;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 21;
			cursor: pointer;

			@media screen and (max-width: 768px) {
				display: block;
			}

			&.active {

				span {
					transition: top 0.1s ease, transform 0.2s ease 0.1s;

					&:first-child {
						top: 50%;
						transform: rotate(-45deg);
					}

					&:nth-child(2) {
						transform: scale(0);

					}

					&:last-child {
						top: 50%;
						transform: rotate(45deg);
					}
				}
			}

			span {
				display: block;
				width: 100%;
				height: 3px;
				position: absolute;
				z-index: 1;
				transform-origin: center center;
				transition: transform 0.1s ease, top 0.2s ease 0.1s;
				background: #191919;

				&:first-child {
					top: 0;
				}

				&:nth-child(2) {
					top: 50%;
				}

				&:last-child {
					top: 100%;
				}
			}
		}

		.nav-list {
			padding: 0;
    		margin: 0;
	    	width: 255px;
    		list-style: none;
    		@include font-size(16px);

			@media screen and (max-width: $phone) {
				opacity: 0;
				background: white;
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
				position: fixed;
				pointer-events: none;
				z-index: 20;
				transition: opacity 0.3s ease;
			}

			&.active {

				@media screen and (max-width: $phone) {
					pointer-events: auto;
					opacity: 1;
					transition: opacity 0.3s ease 0.1s;
				}

				.wrapper {

					@media screen and (max-width: $phone) {
						transform: translate(-50%,-50%);
						opacity: 1;
						transition: transform 0.3s ease, opacity 0.2s ease 0.1s;
					}
				}
			}

			.wrapper {
				display: flex;
				justify-content: space-between;

				@media screen and (max-width: $phone) {
					display: block;
					text-align: center;
					position: absolute;
					opacity: 0;
					top: 50%;
					left: 50%;
					transform: translate(-50%,0);
					transition: opacity 0.3s ease, transform 0.2s ease 0.1s;
				}

				.nav-el {
					@media screen and (max-width: $phone) {
						padding: 30px;
						position: relative;
					}

					&:after {

						@media screen and (max-width: $phone) {
							content: "";
							display: block;
							background-image: url(../images/favicon.png);
							background-repeat: no-repeat;
							width: 20px;
							position: absolute;
							bottom: 0;
							left: 50%;
							background-size: 100%;
							height: 20px;
							transform: translate(-50%,50%);
						}
					}

					&:last-child {

						&:after {

							@media screen and (max-width: $phone) {
								display: none;
							}
						}
					}

					&.mobile {
						display: none;

						@media screen and (max-width: $phone) {
							display: block;
						}
					}

					a {
						color: black;
						text-decoration: none;

						@media screen and (max-width: $phone) {
							@include font-size(30px);
						}
					}

					ul {

						li {
							display: inline-block;
							list-style: none;
							padding: 0 10px;

							a {
								color: black;
								text-transform: uppercase;

								&.active {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Home
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.home {

	#slideshows_wrapper {
		position: relative;
		padding: 0 20px;
		box-sizing: border-box;

		@media screen and (max-width: $phone) {
			padding: 0 20px 20px 20px;
			box-sizing: border-box;
		}

		.slideshow {
			width: 100%;
			padding: calculateRem(100px) 0;
			@include clearfix();

			@media screen and (max-width: $phone) {
				padding: 0;
			}

			&.img {

				.slides {

					.slide {

						.wrapper {

							.content {

								width: 60%;
								margin: auto;
								position: relative;

								@media screen and (max-width: $phone) {
									width: 100%;
								}

								&:before {
									content: "";
									display: block;
									padding-top: 100%;
								}

								img {
									width: 100%;
									height: 100%;
									position: absolute;
									top: 0;
									left: 0;
									object-fit: cover
								}
							}
						}
					}
				}
			}

			&.title {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;

				@media screen and (max-width: $phone) {
					position: relative;
					transform: translateY(0);
				}

				.slides {

					.slide {

						.wrapper {

							.content {
								z-index: 1;
								width: 40%;

								@media screen and (max-width: $phone) {
									width: 100%;
									display: flex;
									flex-wrap: wrap;
								}

								h2, .slide-counter {
									@include font-size(88px);
									display: block;

									@media screen and (max-width: $phone) {
										width: 50%;
										order: 1;
										@include font-size(40px);
										line-height: 1;
										align-self: center;
										padding-top: calculateRem(20px);
									}
								}

								.slide-counter {

									@media screen and (max-width: $phone) {
										text-align: right;
									}
								}

								a {
									@include font-size(16px);
									color: black;
									text-decoration: none;
									display: block;
									margin-top: calculateRem(50px);
									margin-bottom: calculateRem(100px);

									@media screen and (max-width: $phone) {
										width: 100%;
										order: 2;
										margin-top: calculateRem(20px);
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}

			.slides {

				.slide {
					position: relative;

					.wrapper {
						@include wrapper(1200px);
					}
				}
			}

			.flex-control-nav {
				display: none;
			}
		}
	}

	.video {
		width: 100%;
		position: relative;

		&:before {
			content: "";
			display: block;
			padding-top: 50%;
		}

		iframe {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute
		}
	}

	.overview {

		.chapo {
			@include wrapper(1200px);
			display: flex;
			padding: calculateRem(50px) 0;

			@media screen and (max-width: $tablette) {
				display: block;
				padding: 20px;
				margin: 0;
				width: 100%;
				box-sizing: border-box;
			}

			h2 {
				@include font-size(120px);
				line-height: 0.5;

				@media screen and (max-width: $tablette) {
					line-height: 1;
				}
			}

			p {
				@include font-size(23px);
				padding: 0 calculateRem(75px);

				@media screen and (max-width: $tablette) {
					padding: 0;
				}
			}
		}

		.blocs {
			@include wrapper(930px);
			margin-top: 160px;
			margin-bottom: 160px;

			@media screen and (max-width: $phone) {
				width: 100%;
				box-sizing: border-box;
				margin: 0;
				padding: 20px;
			}

			.bloc {
				margin: 30px 0;

				@media screen and (max-width: $phone) {
					margin: 0 0 20px 0;
				}

				&:last-child {

					@media screen and (max-width: $phone) {
						margin: 0;
					}
				}

				.wrapper {
					width: 85%;
					display: flex;
					position: relative;

					@media screen and (max-width: $phone) {
						width: 100%;
					}

					.exergue {
					    font-size: 120px;
					    position: absolute;
					    font-size: 120px;

						@media screen and (max-width: $tablette) {
							display: none;
						}
					}

					.text {
						box-sizing: border-box;
						width: 66%;

						h3 {
							@include font-size(30px);
							text-transform: uppercase;
						}

						p {
							@include font-size(17px);
						} 
					}

					.bloc-img {
						position: relative;
						width: 33%;
						//height: 100%;

						img {
					      	position: absolute;
						    width: 100%;
						    height: 100%;
						    object-fit: cover;
						    top: 0;
						    left: 0;
						}
					}
				}

			}

			.bloc.position-left {

				.wrapper {

					.exergue {
						right: -40%;
						bottom: -0;
					}

					.text {
						padding: calculateRem(90px);
						padding-left: 0;

						@media screen and (max-width: $phone) {
							padding: 20px;
							padding-left: 0;
						}
					}
				}
			}

			.bloc.position-right {

				.wrapper {
					margin-left: auto;

					.exergue {
						left: -30%;
						top: 0;
					}

					.text {
						padding: calculateRem(90px);
						padding-right: 0;

						@media screen and (max-width: $phone) {
							padding: 20px;
							padding-right: 0;
						}
					}
				}
			}
		}
	}

	.instagram_feed {
		margin-bottom: calculateRem(130px);

		@media screen and (max-width: $phone) {
			margin-bottom: 0;
		}

		.wrapper {
			@include clearfix();
			@include wrapper(585px);
			position: relative;

			@media screen and (max-width: $tablette) {
				max-width: 100%;
				box-sizing: border-box;
				padding: 20px;
			}

			@media screen and (max-width: $phone) {
				box-sizing: border-box;
				padding: 20px;
			}

			.exergue {
				@include font-size(120px);
				position: absolute;

				@media screen and (max-width: $tablette) {
					display: none;
				}

				&:first-child {
					top: 15%;
					left: -30%;
				}

				&:nth-child(2) {
					bottom: 21%;
					right: -30%;
				}
			}

			.mobile_title {
				display: none;
				@include font-size(30px);
				text-transform: uppercase;

				@media screen and (max-width: $phone) {
					display: block;
				}
			}

			ul {
				list-style: none;

				li {
					width: 30%;
					position: relative;
					float: left;
					margin-bottom: 5%;

					@media screen and (max-width: $phone) {
						width: 100%;
						float: none;
					}

					&:before {
						content: "";
						display: block;
						padding-top: 100%;
					}

					&:nth-child(3n-2){
						margin-right: 5%;

						@media screen and (max-width: $phone) {
							margin-right: 0;
						}
					}

					&:nth-child(3n-1){
						animation-duration: 1s;
					}

					&:nth-child(3n){
						margin-left: 5%;
						animation-duration: 1.25s;

						@media screen and (max-width: $phone) {
							margin-left: 0;
						}
					}

					.img-wrapper {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: all 0.5s ease;

						a {
							width: 100%;
							height: 100%;
							display: block;				

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}

						}

						&:hover {
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Html layout
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.html {
	.intro {
		@include wrapper(1200px);
		margin-top: calculateRem(235px);
		margin-bottom: calculateRem(120px);
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: $phone) {
			margin: 0;
			max-width: 100%;
			display: block;
			padding: 20px;
			box-sizing: border-box;
		}

		h2 {
			@include font-size(90px);
			padding-bottom: calculateRem(55px);
			width: 39%;

			@media screen and (max-width: $phone) {
				width: 100%;
				padding-bottom: 20px;
			}
		}

		p {
			@include font-size(30px);
			width: 47%;
			align-self: flex-end;

			@media screen and (max-width: $phone) {
				width: 100%;
			}
		}
	}

	.content {
		display: flex;
		margin-bottom: calculateRem(140px);

		@media screen and (max-width: $phone) {
			flex-wrap: wrap;
			margin-bottom: 20px;
		}

		.img-wrapper {
			width: 50%;
			position: relative;

			@media screen and (max-width: $phone) {
				width: 100%;
				order: 2;
			}

			img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
			}

			&:before {
				content: "";
				display: block;
				padding-top: 100%;
			}
		}

		.text {
			align-self: center;
			margin-left: 3%;

			@media screen and (max-width: $phone) {
				margin: 0;
				padding: 20px;
				box-sizing: border-box;
			}

			p {
				@include font-size(23px);
				max-width: 560px;

				@media screen and (max-width: $phone) {
					max-width: 100%;
				}
			}
		}

	}
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Credits
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.credits {
	margin-top: calculateRem(40px);

	section {
		@include wrapper(1200px);
		padding: 0 calculateRem(20px);
		box-sizing: border-box;

		article {
			padding-bottom: calculateRem(30px);

			h2 {
				@include font-size(30px);
				text-transform: uppercase;
				line-height: 1;
			}

			p {
				@include font-size(17px);
				padding: calculateRem(15px) 0;
			}
		}
	}
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Footer
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
footer {
	background-color: #3c3c3b;
	position: relative;

	nav {
		display: flex;
		padding: calculateRem(60px) 0 calculateRem(285px) 0;

		@media screen and (max-width: $tablette) {
			display: block;
			box-sizing: border-box;
			padding: 20px;
		}

		p,ul,.logo {
			width: 33%;
		}

		p {
			margin-left: 4%;

			@media screen and (max-width: $tablette) {
				margin: 20px 0;
				width: 100%;
			}
		}

		a {
			@include font-size(19px);
			color: black;
			text-decoration: none;
		}

		.social_medias {
			list-style: none;
		    display: flex;
    		justify-content: center;

			@media screen and (max-width: $tablette) {
				display: block;
				width: 100%;
			}

    		li {
    			margin: 0 calculateRem(30px);

				@media screen and (max-width: $tablette) {
					margin: 20px 0;
				}
    		}
		}

		.logo {

			a {
				transform: translateY(-25%);
				display: block;
				width: 240px;
				position: relative;
				z-index: 2;

				@media screen and (max-width: $tablette) {
					width: auto;
					transform: translate(0);
					margin: 20px 0;
				}
			}
		}
	}

	.copyright {
		color: #6f6f6e;
		@include wrapper(330px);
		@include font-size(15px);
		padding-bottom: calculateRem(35px);

		@media screen and (max-width: $tablette) {
			max-width: 100%;
			padding: 20px;
		}
	}

	.half_losange {
		width: 310px;
		height: 220px;
		bottom: 0;
		left: 4%;
		position: absolute;
		background: url(../images/half_losange.svg) no-repeat;

		@media screen and (max-width: $tablette) {
			left: 0;
			position: absolute;
			width: 100%;
			height: 50%;
		}
	}

	.losange {
		width: 310px;
		height: 440px;
		top: 0;
		right: 20%;
		position: absolute;
		background: url(../images/losange.svg) no-repeat;

		@media screen and (max-width: $tablette) {
			height: 100%;
			right: 0;
			width: 100%;
			background-position-x: right;
		}
	}
}



